$bgColor-blue1: #D1E9F6;
$bgColor-blue2: #3795BD;

body{
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

// antd css
.ant-layout-header{
    height: auto;
}

header{
    #header-logo{
        width: 100px;
        max-height: 100px;
    }
}

footer{
    background-color: $bgColor-blue2;
}

#home{
    #banner{
        height: 100%;
        background-color: $bgColor-blue2;
        margin: 9rem 0 6rem 0;
        color: whitesmoke;
    }
    #about{
        height: 100%;
        background-color: $bgColor-blue1;
        i{
            color: red;
        }
    }
    #course{
        height: 100%;
        background-color: $bgColor-blue1;
        #img-course{
            height: 200px;
        }
    }
    #registration{
        
    }
    #pricing{
        background-color: $bgColor-blue1;
        height: 100%;
        ul{
            list-style: none;
            padding: 0 0 0 1rem;
            li{
                font-size: 20px;
                margin: 1rem 0;
            }
        }
    }
    #blog{
        background-color: $bgColor-blue1;
        #img-item1{
            height: 400px;
            object-fit: contain;
        }
        #img-item2{
            height: 200px;
            object-fit: contain;
        }
    }
}

#breadcrumb{
    background-color: $bgColor-blue1;
    margin-top: 6rem;
    #breadcrumb-content{
        height: 300px;
        text-align: center;
    }
}

#authen{
    .authen-btn-tab{
        width: 300px;
        transition: all 0.5s;
        &:hover{
            background-color: #0d6efd;
            color: white;
        }
    }
}
